.formWrapper{
    width: 50%;
    margin: auto;
    padding: 10px;
    border-top: 5px solid #2CB1BC;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.error{
    color: red;
    margin: 3px;
}

@media only screen and (max-width: 600px) {
    .formWrapper{
        width: 80%;
        position: static;
        -webkit-transform: none !important;
        transform: none !important;

    }
}