/* .header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    display: flex;
    gap: 1rem;
    padding: 20px;
  }
  
  .list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
  }
  .navbar-brand{
    text-decoration: none;
    color: #ffffff;
  }
  .navbar-brand:focus, .navbar-brand:hover {
    color: rgb(235,0,0)
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: rgb(235,0,0);
}
  
  .list a:hover,
  .list a.active {
    color: rgb(235,0,0);
  }


  .navbar-toggler{
    color: white;
    background-color: whitesmoke;
  }

 

  .logoutBtn{
    font-size: 1.5em;
    background: transparent;
    border: none;
    color: white;
}
.logoutBtn:hover{
  color: rgb(235,0,0);
} */